/* common CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
body {
    font-family: 'Montserrat', sans-serif;
}
/* debug */
.dbg header {
    height: 140px;
}
.dbg main {
    height: 600px;
    background-color: rgb(179, 255, 0);
}
.dbg footer {
    height: 600px;
    background-color: rgb(38, 0, 255);
}
/* Utility CSS */
.container {
    width: 75%;
    margin: auto;
}
/********************
******* Header ******
********************/

/* top_nav CSS */
.top_nav {
    background-color: #F4F9FD;
    border-bottom: 2px solid #94A2AD;
}
.nav {
    line-height: 70px;
    vertical-align: middle;
}
.left_nav, .right_nav {
    width: 50%;
    float: left;
    font-size: 15px;
}
#site_header {
    color: #32495B;
    font-weight: 600;
}
.top_nav .left_nav > img {
    filter: brightness(0.3);
    height: 15px;
    line-height: 70px;
    vertical-align: middle;
}
.left_nav span, .left_nav .barra {
    line-height: 70px;
    vertical-align: middle;
}
.bot_nav {
    background-color: white;
}

.left_nav .barra {
    height: 20px;
    width: 2px;
    background-color: #899397;
    display: inline-block;
    margin: 0 20px;
}
.btn {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.btn_empty {
    color: #FE775A;
    border: 1px solid #FE775A;
    margin: 0 20px;
}
.btn_full {
    color: white;
    background-color: #FE775A;
}
.right_nav img {
    height: 16px;
    line-height: 70px;
    vertical-align: middle;
}
.right_nav {
    text-align: right;
}

/* bot_nav CSS */
.bot_nav {
    line-height: 70px;
    vertical-align: middle;
}
.bot_nav .container .left_nav img {
    line-height: 70px;
    vertical-align: middle;
}
.bot_nav li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}


/********************
******* Main ******
********************/




/********************
******* Footer ******
********************/