/* common CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
body {
    font-family: 'Montserrat', sans-serif;
}
/* debug */
/* .dbg header {
    height: 900px;
} */
/* .dbg main {
    height: 600px;
    background-color: rgb(179, 255, 0);
}
.dbg footer {
    height: 600px;
    background-color: rgb(38, 0, 255);
} */
/* Utility CSS */
.container {
    width: 75%;
    margin: auto;
}
.text_grey {
    color: #32495B;
}
/********************
******* Header ******
********************/

/* top_nav CSS */
.top_nav {
    background-color: #F4F9FD;
    border-bottom: 2px solid #94A2AD;
}
.nav {
    line-height: 70px;
    vertical-align: middle;
}
.left_nav, .right_nav {
    width: 50%;
    float: left;
    font-size: 15px;
}
#site_header {
    color: #32495B;
    font-weight: 600;
}
.top_nav .left_nav > img {
    filter: brightness(0.3);
    height: 15px;
    line-height: 70px;
    vertical-align: middle;
}
.left_nav span, .left_nav .barra {
    line-height: 70px;
    vertical-align: middle;
}
.bot_nav {
    background-color: white;
}

.left_nav .barra {
    height: 20px;
    width: 2px;
    background-color: #899397;
    display: inline-block;
    margin: 0 20px;
}
.btn {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.btn_empty {
    color: #FE775A;
    border: 1px solid #FE775A;
    margin: 0 20px;
}
.btn_full {
    color: white;
    background-color: #FE775A;
}
.right_nav img {
    height: 16px;
    line-height: 70px;
    vertical-align: middle;
}
.right_nav {
    text-align: right;
}

/* bot_nav CSS */
.bot_nav {
    line-height: 70px;
    vertical-align: middle;
}
.bot_nav .container .left_nav img {
    line-height: 70px;
    vertical-align: middle;
}
.bot_nav li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}
/* jumbotron */
.jumbotron {
    background-image: url(../img/jumbotron.png);
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 150px;
    background-color: #FFF4EF;
}
.hero_text {
    padding-top: 7rem;
}
.hero_text h1 {
    font-size: 3rem;
    width: 50%;
}
.hero_text p {
    width: 50%;
    line-height: 2rem;
    padding: 4rem 0;
    
}
.hero_text a {
    padding: 25px 40px;
    border-radius: 5px;
    background-color: #FE775A;
    color: white;
    text-decoration: none;
}
.divisore {
    height: 120px;
    background-color: #AFEBE4;
    border-top: 3px solid #33475B;
    border-bottom: 3px solid #33475B;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/********************
******* Main ******
********************/

#site_main {
    background-color: #F4F9FD;
    text-align: center;
}
#site_main > .main_part {
    width: 60%;
    margin: auto;
    padding-top: 5rem;
}
#site_main > .main_part > .img_cubo > img {
    height: 300px;
}
#site_main > .main_part h2 {
    font-size: 2rem;
}
#site_main > .main_part p {
    margin: 3rem;
    line-height: 2rem;
    font-weight: 600;
}

/* sezione carte CSS */
#site_main > .container > .carta_100, #site_main > .container > .carta {
    float: left;
    background-color: white;
    box-shadow: 1px 1px 6px #a3a6a8;
    border-radius: 5px;
}
#site_main .carta_100 {
    height: 400px;
    width: 100%;
    margin-bottom: 4rem;
}
#site_main .carta {
    height: 700px;
    width: 30%;
}
#site_main .carta.centrale {
    margin: 0 5%;
}
#site_main > .container {
    margin-top: 40px;
}
/* carta_100% larga */
.carta_100 .left, .carta_100 .right{
    background-color: brown;
    height: 100%;
    float: left;
}
.carta_100 > .left img {
    height: 200px;
}
.carta_100 > .left {
    width: 25%;
}
.carta_100 .right {
    width: 75%;
}

/********************
******* Footer ******
********************/