/* common CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
body {
    font-family: 'Montserrat', sans-serif;
}
/* debug */
#site_header {
    height: 600px;
    background-color: aqua;
}
/* Utility CSS */
.container {
    width: 75%;
    margin: auto;
}
/********************
******* Header ******
********************/
.top_nav {
    background-color: #F4F9FD;
}
.bot_nav {
    background-color: rgb(115, 255, 0);
}
.nav {
    height: 60px;
}
#site_header {
    color: #32495B;
    font-weight: 400;
}
#site_header > .top_nav > .left_nav > img {
    filter: brightness(0.3);
    height: 16px;
}



/********************
******* Main ******
********************/




/********************
******* Footer ******
********************/